<div class="cohort-list">
  
  <ul>
    {{#each peeps}}
    <li>
      <figure>
        <a href="/profile/{{id}}"><img src="{{image}}" alt="Beautiful people would be here" width="250" height="150"></a>
        <figcaption>{{name}}</figcaption>
      </figure>
    </li>
    {{/each}}
    <li>
        <figure>
          <a href="/add"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqrvWiu6AFyo55zR5sBfuka-wODW1_z3Y7VgJUHhko9J2EVJz6dQ" alt="add profile here"</a>
          <figcaption>Add new profile</figcaption>
        </figure>
    </li>
  </ul>

</div>