
<nav>
  <div class="left-nav">
    <a href='/cohort'>
      <img src="images/open-sauce-logo.png" alt="main-logo">
  </div>

  <div class="right-nav"> 
    <ul>
      <li><a href="#">Ideas</a></li>
      <li><a href="#">Class Notes</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="#">Gamez</a></li>
      <li><a href="#">Slack</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
  
</nav>