<footer>

  <div class="foot-left">
    <h5>Contact</h5>
    <p>Open Sauce Ltd, a division of Dragon Intl Ltd</p>
    <p>19 Ruru Street, Eden Terrace, Auckland</p>
    <p>Copyright 2018</p>
  </div>
  
</footer>