<div class="gamez">
  <figure >
    <a href="https://sam-by-name.github.io/Quantify-This/"><img src="../images/Quantify-This.png"></a>
    <figcaption>A little pre-bootcamp project <br> by <a href="/mamaku/profile1">Sam Sanders</a></figcaption>
  </figure>
    <figure>
    <a href="https://cornelia-schulz.github.io/snake/"><img src="../images/Snake.png"></a>
    <figcaption>A little pre-bootcamp project <br> by <a href="/mamaku/profile4">Cornelia Schulz</a></figcaption>
  </figure>
</div>