<header>
  <div class="container" id="left-head">
    <a href="#" id="navicon"></a>
      <ul>
        <li><a href=""class="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="#">Other</a></li>
      </ul>
  </div>
</header>
<footer>


</footer>



