
  <ul>
    {{#each peeps}}
    <li>
      <figure>
        <a href="/profile/{{id}}"><img src="{{image}}" alt="The Pulpit Rock" width="250" height="150"></a>
        <figcaption>{{name}}</figcaption>
      </figure>
    </li>
    {{/each}}
  </ul>