
<nav>
  <div class="left-nav">
    <a href='/cohort'><img src="https://cdn.dribbble.com/users/931660/screenshots/4452550/open-sauce_1x.png" alt="main-logo">
  </div>

  <div class="right-nav"> 
    <ul>
      <li><a href="#">Ideas</a></li>
      <li><a href="#">Class Notes</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="/gamez">Gamez</a></li>
      <li><a href="https://enspiral-dev-academy.slack.com/messages/C6N9QAH4P/convo/C6N9QAH4P-1528509025.000057/">Slack</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
  
</nav>