<nav>
  <div class="left-nav">
    <a href='/cohort'>
      <img src="images/open-sauce-logo.png" alt="main-logo">
  </div>

  <div class="right-nav">  
    <a href="#">Home</a>
    <a href="#">Ideas</a>
    <a href="#">Class Notes</a>
    <a href="#">Calendar</a>
    <a href="#">SlackChannel</a>
    <a href="#">Gamez</a>
  </div>
  
</nav>