  <nav>
    <a href="#" id="navicon"></a>
      <ul>
        <li><a href="" class="current">Home</a></li>
        <li><a href=>About</a></li>
        <li><a href="#">Other</a></li>
      </ul>
  </nav>