<nav>

  <div class="left-nav">
    <a href='../../cohort'>
      <img src="../../images/open-sauce-logo.png" alt="main-logo">
  </div>
  
    <div class="right-nav"> 
     <ul>
        <li><a href="../../cohort"></a>Home</li>
        <li><a href="/"></a>Logout</li>
     </ul>
</nav>
