
<figure class="profile-pic">

    <img src="{{image}}" alt="Beautiful people would be here" width="250" height="150">
    <a href="/mamaku/profile{{id}}/edit"><figcaption>Edit profile</figcaption></a>
    
</figure>