
<figure class="profile-pict">

    <img src="{{image}}" alt="Beautiful people would be here" width="250" height="150">
    <a href="/edit/{{id}}"><figcaption>Edit profile</figcaption></a>
    
</figure>