<header>
    <div class="profile-header">
        <img src="{{banner}}" alt="Banner here">
   </div>
</header>
<div>
  <img class="leftBanner" src="{{Lbanner}}">
</div>
<div>
  <img class="rightBanner" src="{{Rbanner}}">
</div>
<div>
  <img class="BottomBanner" src="{{Botbanner}}">
</div>