<nav>
  <div class="left-nav">
    <a href='/'>
      <img src="images/open-sauce-logo.png" alt="main-logo">
  </div>
  <div class="right-nav"> 
    <ul>
      <li><a href="/cohort">Home</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
</nav>
