<nav>
  
  <div class="left-nav">
    <a href='/cohort'>
      <img src="images/open-sauce-logo.png" alt="main-logo">
  </div>

  <div class="right-nav"> 
    <ul>
      <li><a href=" ">Home</a></li>
      <li><a href=" ">About</a></li>
      <li><a href=" ">Other</a></li>
  </ul>

</nav>