<nav>
    <div class="six.columns" id="right-head"></div>
    <img src="../images/.jpg" alt="main-logo">
    <ul>
      <li><a href=" ">Home</a></li>
      <li><a href=" ">About</a></li>
      <li><a href=" ">Other</a></li>
    </ul>
</nav>