<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Mamaku 2018</h1>
    <h2>28th May -27th July</h2>
  </header>

  <nav>
    <a href="#">Home</a>
    <a href="#">Ideas</a>
    <a href="#">Class Notes</a>
    <a href="#">Calander</a>
    <a href="#">SlackChannel</a>
    <a href="#">Gamez</a>
  </nav>

  <div class="container">
    <ul>
      <li></li>
    </ul>
  </div>

  <footer>Copyright</footer>
  {{!-- {{{body}}} --}}
  
</body>
</html>