<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
  <title>Open Sauce</title>
</head>
<body>
  <div class="container">
    <h1 class="title">Open Sauce</h1>
    <div class="loginbox">
      <form class="form" action="" method="post">
        
        <label for="name" class="form-item">
          Name:
          <input type="text" name="name" value="{{name}}">
        </label>

        <label for="password" class="form-item">
          Password:
          <input type="text" name="password" value="{{password}}">
        </label>

        <label for="Login" class="form-item">
          LOGIN
          <input type="submit" name="password" value="Login">
        </label>

      </form>
    </div>
  </div>

</body>
</html>