  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns"> 
        <header1><strong>PROFILE PAGE 1</strong></header1>
          <div class="dropdown">
            <button class="dropbtn1">Home</button>
            <div class="dropdown-content">
              <ul>
                <a href="#">Dropdown1</a>
                  <a href="">1</a>
                  <a href="">2</a>
                  <a href="">3</a>
                  <a href="">4</a>
                  <a href="">5</a>
              </ul>
            </div>   
          </div>
        <div class="dropdown">
          <button class="dropbtn1">Dropdown 2</button>
            <div class="dropdown-content">
              <ul> 
                <a href=" ">1</a>
                <a href=" ">2</a>
                <a href=" ">3</a>
                <a href=" ">4</a>
                <a href=" ">5</a>
              </ul>
            </div>
        </div>
      <div class="dropdown">
        <button class="dropbtn1">Dropdown 3</button>
          <div class="dropdown-content">
            <ul>
              <a href=" ">1</a>
              <a href=" ">2</a>
              <a href=" ">3</a>
              <a href=" ">4</a>
              <a href=" ">5</a>
            </ul>
          </div>
      </div>
          </div>
        </div>
      </div>
      </nav>  
  </header>
</body>
</html>


<script>
    function dropDownBox() {
      document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
        let dropdowns = document.getElementsByClassName("dropdown-content");
        let i;
        for (i = 0; i < dropdowns.length; i++) {
        let openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
              }
            }
          }
        }
</script>
