* {
  box-sizing: border-box;
  border: 0.5px solid red;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background: url("./images/spaghetti-sauce.jpg") no-repeat center center;
  background-size: cover;
  height: 800px;
}

a {
	color: black;
    text-decoration: none;
}