<form class="addProf" action="/add" method="post">
  <input placeholder="Add name here" type="text" name="name" >
  <input placeholder="Add image \"URL!!!\" here" type="text" name="image" >
  <input placeholder="Add nickname here" type="text" name="short" >
  <input placeholder="Add age here" type="text" name="age" >
  <input placeholder="Add sauce here" type="text" name="sauce" >
  <input placeholder="Add prefered pronoun here" type="text" name="preferedP" >
  <input placeholder="Add mantra here" type="text" name="mantra" >
  <input placeholder="Add pets here" type="text" name="favPets" >
  <input placeholder="Add children here" type="text" name="children" >
  <input placeholder="Add hobbies here" type="text" name="hobbies" >
  <input placeholder="If you were a line of code what would you be" type="text" name="code" >
  <input placeholder="Add color here" type="text" name="color" >
  <input placeholder="What movie do you like most?" type="text" name="movie" >
  <input placeholder=" The bestest music eva?" type="text" name="music" >
  <input placeholder="Most visited website" type="text" name="website" >
  <input placeholder="Enter card details here" type="text" name="money" >
  <input type="submit" name="" value="Submit">
</form>