{{> nav}} 

<div class="addProf">

  <form action="/mamaku/add" method="post">
    <input placeholder="Name" type="text" name="name">
    <input placeholder="Profile picture \"URL!!!\"" type="text" name="image">
    <input placeholder="Nickname" type="text" name="short">
    <input placeholder="Age" type="text" name="age">
    <input placeholder="Favorite Sauce" type="text" name="sauce">
    <input placeholder="Prefered pronouns" type="text" name="preferedP">
    <input placeholder="Mantra" type="text" name="mantra">
    <input placeholder="Pets here" type="text" name="favPets">
    <input placeholder="Children here" type="text" name="children">
    <input placeholder="Add hobbies here" type="text" name="hobbies">
    <input placeholder="If you were a line of code what would you be" type="text" name="code">
    <input placeholder="Favourite color" type="text" name="color">
    <input placeholder="Favourite movie" type="text" name="movie">
    <input placeholder="Favourite album / song/ artist" type="text" name="music">
    <input placeholder="Most visited website" type="text" name="website">
    <input placeholder="Enter card details here" type="text" name="money">
    <input placeholder="Banner picture \"URL!!!\"" type="text" name="banner">
    <input placeholder="Left banner \"URL!!!\"" type="text" name="Lbanner">
    <input placeholder="Right banner \"URL!!!\"" type="text" name="Rbanner">
    <input placeholder="Bottom banner \"URL!!!\"" type="text" name="Botbanner">
    
    <input type="submit" name="" value="Submit">
  </form>

</div>

{{> footer}}