{{> nav}} 

<form name="user" method="post" action="/addblog">
  <select name="user"><form name="user" method="post" action="/addblog">
  <select name="user">
    <option value="{{id}}">{{name}}</option>
  </select>
  <input placeholder="Title" type="text" name="title"><br>
  <textarea placeholder="Comments" name="blog" rows="5" cols="50"></textarea><br>
  <button type="submit"></button>
</form>
  </select>
  <input placeholder="Title" type="text" name="title"><br>
  <textarea placeholder="Comments" name="blog" rows="5" cols="50"></textarea><br>
  <button type="submit"></button>
</form>

{{> footer}}