{{> nav}} 

<form name="user" method="post" action="/addblog">
  <select name="user">
    {{#each user}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}  
  </select>
  <input placeholder="Title" type="text" name="title"><br>
  <textarea placeholder="Comments" name="blog" rows="50" cols="50"></textarea><br>
  <button type="submit"></button>
</form>

{{> footer}}