  <div class="container">
    <h1 class="title">Open Sauce</h1>
    <div class="loginbox">
      <form class="form" action="" method="post">
        
        <label for="name" class="form-item">
          Name:
          <input type="text" name="name" value="{{name}}">
        </label>

        <label for="password" class="form-item">
          Password:
          <input type="text" name="password" value="{{password}}">
        </label>

        <label for="Login" class="form-item">
          LOGIN
          <a href="/cohort"> <input type="button" name="password" value="Login"></a>
        </label>

      </form>
    </div>
  </div>