  <div class="loginbox">
    <img id="mainlogo" src="./images/open-sauce-logo.png">
    <form class="form" action="" method="post">
      
      <label for="name" class="form-item">Name:
        <input type="text" name="name" value="">
      </label>

      <label for="password" class="form-item">Password:
        <input type="text" name="password" value="">
      </label>

      <label for="Login" class="form-item">
        <input type="submit" name="password" value="Login">
      </label>

    </form>
  </div>