<div class="landing-main">

  <div class="loginbox">
    <img id="mainlogo" src="./images/open-sauce-logo.png">
    <form class="form" action="/mamaku" method="">
      
      <label for="name" class="form-item">Name:
        <input type="text" name="name" value="">
      </label>

      <label for="password" class="form-item">Password:
        <input type="text" name="password" value="">
      </label>

      <label for="Login" class="form-item">
        <a href="/mamaku"><input type="button" name="password" value="Login"></a>
      </label>

    </form>
  </div>

</div>