<div class="landing-main">

  <div class="loginbox">
    <img id="mainlogo" src="./images/open-sauce-logo.png">
    </form>
      <form action="/mamaku" method="post" name="login">
      Username<input type="text" name="userid"/>
      Password<input type="password" name="pswrd"/>
      <input type="submit" value="Login"/>
      <input type="reset" value="Cancel"/>
    </form>
  </div>

</div>