<header>
    <div class="container">
    <div class="row">
      <div class="twelve columns"> 
        <header1><strong>PROFILE PAGE 1</strong></header1>
          <div class="dropdown">
            <button class="dropbtn1">Home</button>
            <div class="dropdown-content">
              <ul>
                <a href="#">Dropdown1</a>
                  <a href="">1</a>
                  <a href="">2</a>
                  <a href="">3</a>
                  <a href="">4</a>
                  <a href="">5</a>
              </ul>
            </div>   
          </div>
        <div class="dropdown">
          <button class="dropbtn1">Dropdown 2</button>
            <div class="dropdown-content">
              <ul> 
                <a href=" ">1</a>
                <a href=" ">2</a>
                <a href=" ">3</a>
                <a href=" ">4</a>
                <a href=" ">5</a>
              </ul>
            </div>
        </div>
      <div class="dropdown">
        <button class="dropbtn1">Dropdown 3</button>
          <div class="dropdown-content">
            <ul>
              <a href=" ">1</a>
              <a href=" ">2</a>
              <a href=" ">3</a>
              <a href=" ">4</a>
              <a href=" ">5</a>
            </ul>
          </div>
      </div>
          </div>
        </div>
      </div>
      </nav>  
  </header>



