/*TEMPLATE 1 CSS*/
body {
  background-image: url("../images/.jpg");
  background-size: cover;
  text-align: center;
  margin: 0;
  padding:0;   
  font-family: ''; 
}

h1 {
  color:black;
  font-weight:bold;
  font-size: 2.5em;
  font-size:4vw;
  color: #f9f9f9;
  width:  100%;
  text-align: center;
}

h2 {
  color:black;
  font-weight:bold;  
  font-size: 1.5em; 
  font-family: 'IBM Plex Sans Condensed', sans-serif; 
  word-spacing: 0.1em;
  font-size: 2.5vw;
  color:black;
  text-align: center;
  border: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;     
}

h3  {
  font-family: 'IBM Plex Sans Condensed', sans-serif; 
  word-spacing: 0.1em;
  font-size: 1.5vw;
  color:black;
  text-align: center;
  border: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;  
}
p 	{
  font-family: 'IBM Plex Sans Condensed', sans-serif; 
  font-size: 100%;
  color: #000;
  border: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em; 
}

#display {
  margin-bottom: 10px;
  height: 20px;
  width: 220px;
  border: 1px solid black;
  border-radius:5px;
  box-shadow: 0px 0px 1px 1px black;
  text-align: right;
  font: 20px bold;
  }

nav
 {
  display: block;
}

header {
  background:black;
  opacity: 0.6;
}

/****HOMEPAGE/INDEX HEADER/BORDER***/
header1 {
  border: 0.40em double black;
  color: #f9f9f9;     
  background-size: cover;
  font-family: 'IBM Plex Sans Condensed', sans-serif; 
  font-size: 2.625em;
  font-weight: bold;   
  display: inline;
}


/********************************************************/
/***CONTAINER/FLEX/MEDIA ELEMENTS/***/
/* Large */

.flex-item {
  width: 6.250em;  
  height: 6.250em; 
  margin: auto;     
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
}
/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}
/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */
/* Medium screens */
@media all and (min-width: 37.500em) {
/* We tell both sidebars to share a row */
.aside { flex: 1 auto; }
}
/* Large screens */
@media all and (min-width: 50.000em) {
/*invert order of first sidebar and main
* And tell the main element to take twice as much width as the other two sidebars 
*/
.main { flex: 2 0em; }
.aside-1 { order: 1; }
.main    { order: 2; }
.aside-2 { order: 3; }
.footer  { order: 4; }
}
.container  {/*Note that CSS columns have no effect on a flex container. */
  display: inline;
}
.container1 {   
  display: center; /* or inline-flex */  
  flex-grow: 1; /* default 0 / Negative numbers are invalid. */ 
}
.container2 { 
  flex-wrap: wrap;  
  flex-grow: 1; /* default 0 / Negative numbers are invalid. */ 
}
.container-fluid {   
  display: inline-block; /* or inline-flex */    
  flex-grow: 1; /* default 0/ Negative numbers are invalid.  */ 
  /*flex-wrap: nowrap | wrap | wrap-reverse;*/
}
.flex-container > * {
  padding: 0.938em;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

/* Style The Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}
/*****HOMEPAGE/ BUTTONS******/
.dropbtn1 {
  background-color: #4CAF50;
  color:black;     
  width: 9.375em;
  height: 2.250em; 
  font-size: 1em;
  min-width: 1.000em;
  z-index: 1; 
  cursor: pointer;
  font-family: 'IBM Plex Sans Condensed', sans-serif; 

}
     
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 3em;
  box-shadow: 0.5em 2em 3em 2em rgba(0,0,0,0.2);
  z-index: 1;    
}

/* Links inside the dropdown */
.dropdown-content a {
  text-anchor: end;
  background-color: blanchedalmond;
  color: black;
  display: block;
  text-decoration: none;
  text-align: center; 
}
/* Show the dropdown menu on hover*/ 
.dropdown:hover .dropdown-content {
  display: block;
}
/****ROWS/COLUMNS CODE****/
.row {
  width: 100%; 
  margin-top: 1em;   
  padding: 0em 0.5em 0em 1em;
}
.row1 {
  width: 75%;
  margin-top: 1em;
  padding:  0em 0.5em 0em 1em;
  vertical-align: baseline;
}
.row2 { 
  width: 50%;
  margin-top: 1em;
  padding:  0em 0.5em 0em 1em;
}
.row3 {
  width: 25%;
  padding:  0em 0.5em 0em 1em;
}
.row4 {
  width:15%;
  padding:  0em 0.5em 0em 1em;
}
.one column {
  width: 8.33%;
}
.two columns {
  width: 16.66%;
}
.three columns {
  width: 25%;
}
.four columns {
  width: 33.33%;
  align-content: baseline;
  border: 0em 1em 0em 1em;
}

.five columns {
  width: 41.66%;
  margin: 0em 2em, 0em, 2em;
  border: 0em 0.5em 0em 0.5em;
  justify-content: center;
}
.six columns {
  width: 50%;
  border: 2em 0em 0em 2em;
}
.seven columns {
  width: 58.33%;
  padding: 2em 2em 2em 2em;
}
.eight columns {
  width: 66.66%;
}
.nine columns {
  width: 75%;
}
.ten columns{
  width: 83.33%;
}
.eleven columns {
  width: 91.66%;
  display: center;
}
.twelve columns{
  width: 100%;
  display: center;
 
}
/******************************************************/
/*IMAGE CONTENT*/
/* Homepage(Index Page) Background Image*/
.picturecontent{
  background-image: url("../images/workoffice.jpg");
  height: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

*RED BOXIFY BOARDER TEMPLATE BOXES
* {
  border: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
