* {
  box-sizing: border-box;
  border: 0.5px solid red;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.landing-main {
  background: url("./images/spaghetti-sauce.jpg") no-repeat center center;
  background-size: cover;
  height: 1000px;
}

a {
	color: black;
  text-decoration: none;
}


/* LANDING/LOGIN PAGE */

.loginbox {
  width: 30%;
  float: right;
  margin-right: 100px;
  margin-top: 10%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#mainlogo {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

input[type=text] {
  width: 100%;
  background-color: grey;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* COHORT PAGE */

/* NAV */

nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
  z-index: 100;
  background-color: white; 
}

.left-nav {
  width: 50%;
  float: left;
  vertical-align: middle;
  padding: 3rem;
}

.left-nav img {
  width: 15rem;
}

.right-nav {
  width: 50%;
  height: 9rem;
  float: right;
  padding: 2rem;
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul, nav:active ul { 
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  right: 2.5rem;
  top: 6.5rem;
}

nav li {
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  padding: 2rem 0;
  margin: 0;
}


/* COHORT MAIN */


.cohort-main {
  width: 100%;
  height: 80rem;
  background: url("./images/mamaku-fern.jpg") no-repeat left top;
  margin-top: 20rem;
}

.cohort-header {
  width: 50%;
  float: right;
  margin-right: 5rem;
  text-align: center;
}

.cohort-list {
  margin-top: 20rem;
}


.cohort-list li {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-size: 3rem;
}


.cohort-list img {
  width: 20rem;
  height: auto;
  border-radius: 50%;

}


/* FOOTER */

footer {
  width: 100%;
  height: 10rem;
  background-color: white;
  color: black;
  position: relative;
  padding-left: 5rem;
  bottom: 0;
}

h5 {
  font-size: 18px;
}



/* PROFILE PAGE */

/* PROFILE-HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: inline-block;
  background-color: white; 
}

/* PROFILE HEADER IMAGE */

.profile-header{
  width: 100%;
  margin-top: 8rem;
  height: 40rem;
  background-size: cover;
  text-align: center;
}


/* MEDIA QUERIES


/* tablet */
@media only screen and (max-width: 850px) {

  .loginbox {
    min-width: 60%;
    float: none;
    margin: auto;
    margin-top: 5rem;
    justify-content: center;
  }
}

/* mobile */
@media only screen and (max-width: 500px) {

  .loginbox {
    min-width: 90%;
    float: none;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
  }
} 

#navicon {
  width: 5rem;
  height: 5rem;
  background: url("../images/menu-icon.png") no-repeat center center;
  float: right;
  z-index: 100;
}

a:hover#navicon {
  background-color: grey;
}


/* ADD PROFILE */

.addProf {
  margin-top: 13%;
  background-image: url('images/fern1.jpg');
  background-repeat: no-repeat;
  background-position: right;
}

.addProf input[type="text"] {
  color: black;
  background-color: white;
  width: 50%; 
}