* {
  box-sizing: border-box;
  border: 0.5px solid red;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background: url("./images/spaghetti-sauce.jpg") no-repeat center center;
  background-size: cover;
  height: 800px;
}

a {
	color: black;
    text-decoration: none;
}

.loginbox {
  width: 30%;
  float: right;
  margin-right: 100px;
  margin-top: 10%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#mainlogo {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

input[type=text] {
  width: 100%;
  background-color: grey;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* MEDIA QUERIES */


/* tablet */
@media only screen and (max-width: 850px) {

  .loginbox {
    min-width: 60%;
    float: none;
    margin: auto;
    margin-top: 5rem;
    justify-content: center;
  }
}

/* mobile */
@media only screen and (max-width: 500px) {

  .loginbox {
    min-width: 90%;
    float: none;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
  }
}